<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biotic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="/static/CSS/navbar.css">
    <link rel="stylesheet" href="/static/CSS/feedback.css">
    <link rel="stylesheet" href="/static/CSS/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>

    <header>
        <div class="header_top">
            <div class="contact-info">
                <a href="#" class="fas fa-phone"></a>
                <p>Phone: 8878899556</p>
                <a href="#" class="fas fa-envelope"></a>
                <p>Email: contact@bioticclasses.com</p>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="header_bottom">
            <input type="checkbox" name="" id="toggler">
            <label for="toggler" class="fas fa-bars"></label>
            <div class="left">
                <a href="/api/biotichomepage"><img src="/static/Images/biotic_logo.png" alt=""></a>
            </div>
            <nav class="navbar">
               
                <a target="_blank" href="/api/resultspage">Results</a>
                <a target="_blank" href="/api/testimonialspage">Testimonials</a>
                <a  target="_blank" href="/api/aboutuspage">About Us</a>
                <a  target="_blank" href="/api/contactuspage">Contact Us</a>
            </nav>

            <div class="login_button">
                <a href="/api/loginSignup" class="btn-1">LOGIN/SIGNUP</a>
                
            </div>
        </div>

    </header>
    <section class="testimonial-container">
        <div class="testimonials-header">
            <h1>Students Feedback</h1>
        </div>
        <div class="testimonials-section">
            <div class="feedback-card">
                <span><i class="ri-double-quotes-l"></i></span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque mollitia aliquid aperiam impedit
                    debitis veniam voluptates in consequuntur, possimus nostrum quos odit. Dolorum, error quibusdam?
                </p>
                <hr />
                <img src="/static/Images/pic-2.jpg" alt="user" />
                <p class="name">Name1</p>
            </div>
            <div class="feedback-card">
                <span><i class="ri-double-quotes-l"></i></span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni est, inventore placeat debitis ab
                    harum rem alias ea dolorem similique, fugit veniam obcaecati perspiciatis, unde maiores quasi
                    recusandae.
                </p>
                <hr />
                <img src="/static/Images/pic-1.jpg" alt="user" />
                <p class="name">Name2</p>
            </div>
            <div class="feedback-card">
                <span><i class="ri-double-quotes-l"></i></span>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus quisquam libero earum nihil ratione
                    laboriosam tenetur autem porro commodi esse dicta blanditiis quo, rem sint at possimus totam
                    excepturi fugiat.
                </p>
                <hr />
                <img src="/static/Images/pic-3.jpg" alt="user" />
                <p class="name">Name3</p>
            </div>
        </div>

    </section>

    <section class="footer">
        <!-- <div class="floatingbox">START YOUR NEET COMMANDO TRAINING <br id="poppy">WITH US</BR></div> -->
        <div class="box-container">

            <div class="b">

                <div class="floating_container">
                    <div class="floatingbox">
                        <h3>START YOUR NEET COMMANDO TRAINING WITH US</h3>
                        <button>SIGNUP</button>
                    </div>
                </div>

            </div>

            <div class="box">
                <img src="/static/Images/biotic_logo.png" class="logo">
                <p>Learning is a Dynamic process that extends beyond the classroom. So, why restrict yourself to
                    traditional settings? BIOMENTORS is an exclusive online institute for NEET Medical Entrance
                    examination. We are passionate about quality education.
                </p>
                <div class="row">
                    <h3>Follow Us On</h3>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>

                </div>

            </div>

            <div class="box" id="box1">
                <h3>Quick Links</h3>
                <a>Home</a>
                <a>About Us</a>
                <a>In the NEWS</a>
                <a>Fees Package</a>
                <a>Features</a>
                <a>Careers</a>
                <a>Contact Us</a>
            </div>
            <div class="box">
                <h3>Other Links</h3>
                <a>Help?</a>
                <a>Our Results</a>
                <a>Testimonials</a>
                <a>Privacy Policy</a>
                <a>Terms & Conditions</a>
                <a>Disclaimers</a>
            </div>
        </div>

    </section>
<script src="/Static/JavaScript/navbar.js"></script>
</body>
