<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biotic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/feature.css">
    <link rel="stylesheet" href="/static/CSS/testimonials.css">
    <link rel="stylesheet" href="/static/CSS/footer.css">
    <link rel="stylesheet" href="/static/CSS/achiever.css">
    <link rel="stylesheet" href="/static/CSS/batch.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header1">
        <div class="header_top">
            <div class="contact-info">
                <a href="#" class="fas fa-phone"></a>
                <p>Phone: 8878899556</p>
                <a href="#" class="fas fa-envelope"></a>
                <p>Email: contact@bioticclasses.com</p>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="header_bottom">
            <input type="checkbox" name="" id="toggler">
            <label for="toggler" class="fas fa-bars"></label>
            <div class="left">
                <a href="/api/biotichomepage"><img src="/static/Images/biotic_logo.png" alt=""></a>
            </div>
            <nav class="navbar">
                <a id="batch-link">Batch Section</a>
                <a href="#">Features</a>
                <a target="_blank" href="/api/resultspage">Results</a>
                <a target="_blank" href="/api/testimonialspage">Testimonials</a>
                <a  target="_blank" href="/api/aboutuspage">About Us</a>
                <a  target="_blank" href="/api/contactuspage">Contact Us</a>
            </nav>

            <div class="login_button">
                <a href="/api/loginSignup" class="btn-1">LOGIN/SIGNUP</a>
                
            </div>
        </div>

    </header>

    <section class="home" id="home">
        <div class="content">
            <h3>11800+ <span>MBBS Selections</span></h3>
            <span>Medical entrance Simple है</span>
            <span class="s1">with Biotic</span>
            <p>A complete solution to your Medical Entrance Exam preparation.</p>
            <p class="p1">Most trusted online and offline institute exclusively for NEET.</p>
            <a href="/login.html" class="btn-1">LOGIN/SIGNUP</a>
            <a href="#" class="btn-2">JOIN NOW</a>
        </div>

        <div class="float_container">

            <div class="floating_box1">
                <img src="/static/Images/float_image1.png" alt="">
                <div class="float_content">
                    <h3>9.1 Lakh + years</h3>
                    <span>Student assisted</span>
                </div>
            </div>

            <div class="floating_box2">
                <img src="/static/Images/float_image2.png" alt="">
                <div class="float_content">
                    <h3>7+ years</h3>
                    <span>Trust of online presence</span>
                </div>
            </div>

            <div class="floating_box3">
                <img src="/static/Images/float_image3.png" alt="">
                <div class="float_content">
                    <h3>24+ years</h3>
                    <span>Experience in Teaching</span>
                </div>
            </div>

        </div>


    </section>

    <div class="bottom-banner">
        <p>Download the Biotic app from:</p>
        <a href="#" class="playstore-btn"><i class="fab fa-google-play"></i> Download on Play Store</a>
    </div>

    <section class="achiever">

        <div class="row">
            <div class="inner_content">
                <h3>OUR ACHIEVERS🥇</h3>
                <span>Everyone has a success story...We believe that everyone has a unique journey filled with accomplishments and triumphs. Through sharing these stories, we aim to inspire and ignite passion, showcasing the power of hard work, determination, and the ability to overcome challenges.</span>
            </div>

            <div class="photo_wrap">
                <img src="/static/Images/backward.png" id="backBtn">
                <div class="photos">
                    <div class="box">
                        <div class="inner_photo">
                            <div class="image">
                                <img src="/static/Images/pic-1.jpg">
                            </div>
                            <div class="image-content">
                                <h3>Akansha dixit</h3>
                                <span>Datia Medical College</span>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner_photo">
                            <div class="image">
                                <img src="/static/Images/pic-2.jpg">
                            </div>
                            <div class="image-content">
                                <h3>Anushi Singhal</h3>
                                <span>Shyam Shah Medical College REWA</span>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner_photo">
                            <div class="image">
                                <img src="/static/Images/pic-3.jpg">
                            </div>
                            <div class="image-content">
                                <h3>Aryan Shrivastav</h3>
                                <span>Datia Medical College</span>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner_photo">
                            <div class="image">
                                <img src="/static/Images/pic-4.jpg">
                            </div>
                            <div class="image-content">
                                <h3>Deeksha Agarwal</h3>
                                <span>Mahatma Gandhi Medical college Indore</span>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner_photo">
                            <div class="image">
                                <img src="/static/Images/pic-5.jpg">
                            </div>
                            <div class="image-content">
                                <h3>Dr. Deshraj Rajpoot</h3>
                                <span>Medical Officer</span>
                            </div>
                        </div>
                    </div>

                    
                <img src="/static/Images/forward.png" id="nextBtn">

            </div>
        </div>

    </section>

    <section class="feature-section">


        <div class="feature-photu">
            <img src="/Static/Images/topper.png" alt="">

        </div>

        <div class="float_box">
            <a href=""><i class="fa fa-youtube-play"></i></a>
            <div class="text">Watch Us!</div>
        </div>

        <div class="feature-content">
            <h3>OUR FEATURES</h3>
            <h2>Join the Best Online Classes for NEET!</h2>
            <div class="qualities">
                <div class="core-quality">
                    <div class="core-quality-icon" id="icon1">
                        <img src="/Static/Images/feature-icon-1.png" alt="">
                    </div>
                    <div class="core-quality-content">
                        <h3>Ninja tranining for NEET</h3>
                        <p>Our experienced educators provide comprehensive coaching programs for competitive exams and
                            academic subjects, preparing students like ninjas for success.</p>
                    </div>
                </div>
                <div class="core-quality">
                    <div class="core-quality-icon" id="icon2">
                        <img src="/Static/Images/feature-icon-2.png" alt="">
                    </div>
                    <div class="core-quality-content">
                        <h3>Best Atmosphere and Teaching </h3>
                        <p>We focus on student-centric coaching, offering personalized attention, regular assessments,
                            and state-of-the-art facilities for academic excellence.</p>
                    </div>
                </div>
                <div class="core-quality">
                    <div class="core-quality-icon" id="icon3">
                        <img src="/Static/Images/feature-icon-3.png" alt="">
                    </div>
                    <div class="core-quality-content">
                        <h3>Achieve the height of success </h3>
                        <p>Join us for transformative learning experiences, and get help as a top achiever to achieve
                            academic success.</p>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="testimonials">

        <div class="row">
            <div class="inner_content">
                <h3>TESTIMONIALS</h3>
                <span>Our Commandos ❤️ Love us !</span>
                <p>Many have praised our services and how we changed their lives . Hear what they have to say about
                    us...</p>
            </div>


            <div class="photo_wrap">
                <img src="/static/Images/backward.png" id="backBtn_1">
                <div class="photos_1">
                    <div class="box">
                        <div class="inner_photo">
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>A place where students get all the study materials for NEET with Regular classes, doubt
                                sessions ,Backup classes, Tests at regular intervals.. Not only objective but also
                                subjective tests for preparation of CBSE/MP BOARD too.</p>
                            <div class="user">
                                <img src="/static/Images/customer1.jpg" alt="">
                                <div class="user-info">
                                    <h3>Harshu Shrivastava</h3>
                                    <span></span>
                                </div>
                            </div>
                            <span class="fas fa-quote-right"></span>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner_photo">
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>This is the best coaching to go for by my own experience I can share that I was looking
                                for a bio coaching and i ended up taking a wrong one in 11th class but as I joined
                                biotic class in 12 Jyoti mam always helped me to complete my syllabus in 12 and she puts
                                in so much effort for every single child and pays personal attention to every student.
                                ❤️💟</p>
                            <div class="user">
                                <img src="/static/Images/customer2.jpg" alt="">
                                <div class="user-info">
                                    <h3>Shruti Mishra</h3>
                                    <span></span>
                                </div>
                            </div>
                            <span class="fas fa-quote-right"></span>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inner_photo">
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>Such a wonderful Institute. The teaching style of ma'am is fabulous personally I feel it
                                is a best biology Institute in gwalior.</p>
                            <div class="user">
                                <img src="/static/Images/customer3.jpg" alt="">
                                <div class="user-info">
                                    <h3>Abhishek Singh Imal</h3>
                                    <span></span>
                                </div>
                            </div>
                            <span class="fas fa-quote-right"></span>
                        </div>
                    </div>

                </div>

                <img src="/static/Images/forward.png" id="nextBtn_1">

            </div>

        </div>

    </section>

    <section class="batch-container">
        <h3>OUR ONLINE BATCHES</h3>
        <h2>Find The Right Batch For You</h2>
        <div class="batch-list">
            <div class="batch-detail">
                <div class="image-part">
                    <img src="/static/Images/ambitionbatch.jpeg" alt="">
                    <div class="over-img-part">
                        <h1>Rs. 4999 onwards</h1>
                        <div class="date-area">
                            <i class="fa fa-calendar"></i>
                            <p>Starts: 17th April 2023</p>
                        </div>
                    </div>
                </div>
                <div class="batch-content-part">
                    <h2>Batch Name</h2>
                    <span>11th NEET Exclusive Batch</span>
                    <button class="admission">Take Admission</button>
                </div>
            </div>
            <div class="batch-detail">
                <div class="image-part">
                    <img src="/static/Images/focus.jpg" alt="">
                    <div class="over-img-part">
                        <h1>Rs. 5999 onwards</h1>
                        <div class="date-area">
                            <i class="fa fa-calendar"></i>
                            <p>Starts: 23rd April 2023</p>
                        </div>
                    </div>
                </div>
                <div class="batch-content-part">
                    <h2>Batch Name</h2>
                    <span>12th NEET Exclusive Batch</span>
                    <button class="admission">Take Admission</button>
                </div>
            </div>
            <div class="batch-detail">
                <div class="image-part">
                    <img src="/static/Images/crash.jpg" alt="">
                    <div class="over-img-part">
                        <h1>Rs. 8999 onwards</h1>
                        <div class="date-area">
                            <i class="fa fa-calendar"></i>
                            <p>Starts: 31st April 2023</p>
                        </div>
                    </div>
                </div>
                <div class="batch-content-part">
                    <h2>Batch Name</h2>
                    <span>Dropper NEET Exclusive Batch</span>
                    <button class="admission">Take Admission</button>
                </div>
            </div>
            <div class="batch-detail">
                <div class="image-part">
                    <img src="/static/Images/crash.jpg" alt="">
                    <div class="over-img-part">
                        <h1>Rs. 8999 onwards</h1>
                        <div class="date-area">
                            <i class="fa fa-calendar"></i>
                            <p>Starts: 31st April 2023</p>
                        </div>
                    </div>
                </div>
                <div class="batch-content-part">
                    <h2>Batch Name</h2>
                    <span>Dropper NEET Exclusive Batch</span>
                    <button class="admission">Take Admission</button>
                </div>
            </div>
            <div class="batch-detail">
                <div class="image-part">
                    <img src="/static/Images/crash.jpg" alt="">
                    <div class="over-img-part">
                        <h1>Rs. 8999 onwards</h1>
                        <div class="date-area">
                            <i class="fa fa-calendar"></i>
                            <p>Starts: 31st April 2023</p>
                        </div>
                    </div>
                </div>
                <div class="batch-content-part">
                    <h2>Batch Name</h2>
                    <span>Dropper NEET Exclusive Batch</span>
                    <button class="admission">Take Admission</button>
                </div>
            </div>
            <div class="batch-detail">
                <div class="image-part">
                    <img src="/static/Images/crash.jpg" alt="">
                    <div class="over-img-part">
                        <h1>Rs. 8999 onwards</h1>
                        <div class="date-area">
                            <i class="fa fa-calendar"></i>
                            <p>Starts: 31st April 2023</p>
                        </div>
                    </div>
                </div>
                <div class="batch-content-part">
                    <h2>Batch Name</h2>
                    <span>Dropper NEET Exclusive Batch</span>
                    <button class="admission">Take Admission</button>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
            <div class="box-container">

                <div class="b">

                    <div class="floating_container">
                        <div class="floatingbox">
                            <h3>START YOUR NEET COMMANDO TRAINING WITH US</h3>
                            <button>SIGNUP</button>
                        </div>
                    </div>

                </div>
            
                <div class="box">
                    <img src="/static/Images/biotic_logo.png" class="logo">
                    <p>Learning is a Dynamic process that extends beyond the classroom. So, why restrict yourself to
                        traditional settings? BIOMENTORS is an exclusive online institute for NEET Medical Entrance
                        examination. We are passionate about quality education.
                    </p>
                    <div class="row">
                        <h3>Follow Us On</h3>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-instagram"></i>
                    
                    </div>
                    
                </div>
        
                <div class="box" id="box1">
                    <h3>Quick Links</h3>
                    <a>Home</a>
                    <a>About Us</a>
                    <a>In the NEWS</a>
                    <a>Fees Package</a>
                    <a>Features</a>
                    <a>Careers</a>
                    <a>Contact Us</a>
                </div>
                <div class="box">
                    <h3>Other Links</h3>
                    <a>Help?</a>
                    <a>Our Results</a>
                    <a>Testimonials</a>
                    <a>Privacy Policy</a>
                    <a>Terms & Conditions</a>
                    <a>Disclaimers</a>
                </div>
            </div>

    </section>




</body>

    <script src="/static/JavaScript/app.js"></script>
     <script src="/Static/JavaScript/navbar.js"></script>

</html>
