<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biotic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="/static/CSS/navbar.css">
    <link rel="stylesheet" href="/static/CSS/about.css">
    <link rel="stylesheet" href="/static/CSS/footer.css">

</head>
<body>

    <header>
        <div class="header_top">
            <div class="contact-info">
                <a href="#" class="fas fa-phone"></a>
                <p>Phone: 8878899556</p>
                <a href="#" class="fas fa-envelope"></a>
                <p>Email: contact@bioticclasses.com</p>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="header_bottom">
            <input type="checkbox" name="" id="toggler">
            <label for="toggler" class="fas fa-bars"></label>
            <div class="left">
                <a href="/api/biotichomepage"><img src="/static/Images/biotic_logo.png" alt=""></a>
            </div>
            <nav class="navbar">
               
                <a target="_blank" href="/api/resultspage">Results</a>
                <a target="_blank" href="/api/testimonialspage">Testimonials</a>
                <a  target="_blank" href="/api/aboutuspage">About Us</a>
                <a  target="_blank" href="/api/contactuspage">Contact Us</a>
            </nav>

            <div class="login_button">
                <a href="/api/loginSignup" class="btn-1">LOGIN/SIGNUP</a>
                
            </div>
        </div>

    </header>
    <section class="about bg">
        <div class="heading">
            <h1>About us</h1>
            <p>Welcome to BIOTIC NEET Coaching Institute, your pathway to success in the highly competitive National
                Eligibility cum Entrance Test (NEET).</p>
        </div>
        <div class="container">
            <section class="about">
                <div class="about-image">
                    <img src="/static/Images/about1" alt="">
                </div>
                <div class="about-content">
                    <h2>Biotic</h2>
                    <p>At BIOTIC, we provide comprehensive and top-notch coaching to aspiring medical professionals like
                        you.</p>
                    <p> Our coaching institute is renowned for its exceptional track record of producing outstanding
                        results in NEET. With a team of experienced and highly qualified faculty members, we ensure that
                        our students receive the best guidance and mentorship throughout their preparation journey.
                    </p>
                    <p>At BIOTIC NEET Coaching Institute, we understand the significance of a well-structured
                        curriculum. Therefore, we have designed a meticulously crafted program that covers all the
                        essential topics and concepts required for NEET. Our comprehensive study materials and resources
                        are regularly updated to align with the latest NEET syllabus and exam patterns.
                    </p>
                    <p>
                        We believe in the power of personalized attention, which is why we maintain small batch sizes to
                        ensure individualized focus on each student. Our faculty members are not just teachers but also
                        mentors who provide constant support and guidance to help students overcome their weaknesses and
                        enhance their strengths.
                    </p>
                    <p>
                        To foster a competitive environment, we conduct regular mock tests and practice sessions that
                        simulate the actual NEET exam conditions. These assessments help students gauge their progress
                        and identify areas that need improvement. Our performance analysis reports provide valuable
                        insights to students and enable them to fine-tune their preparation strategies.
                    </p>
                    <p>
                        Furthermore, at BIOTIC NEET Coaching Institute, we prioritize the holistic development of our
                        students. Along with academic excellence, we also emphasise the development of critical
                        thinking, problem-solving abilities, time management skills, and effective exam strategies. Our
                        aim is to shape well-rounded individuals who are not only academically proficient but also
                        equipped to excel in all aspects of their medical career.
                    </p>
                    <p>
                        We take pride in our state-of-the-art infrastructure, including well-equipped classrooms, a
                        comprehensive library, and advanced technology-enabled learning tools. Our friendly and
                        supportive staff is always available to assist students and address their queries.
                        Join BIOTIC NEET Coaching Institute and embark on a transformative learning experience. Let us
                        guide you towards your dreams of becoming a successful medical professional. Enroll today and
                        take the first step towards a bright future in medicine.

                    </p>
                    <a href="/login.html" class="login-in">Login / Register</a>
                </div>
            </section>
        </div>
    </section>

    <section class="footer">
        <!-- <div class="floatingbox">START YOUR NEET COMMANDO TRAINING <br id="poppy">WITH US</BR></div> -->
            <div class="box-container">

                <div class="b">

                    <div class="floating_container">
                        <div class="floatingbox">
                            <h3>START YOUR NEET COMMANDO TRAINING WITH US</h3>
                            <button>SIGNUP</button>
                        </div>
                    </div>

                </div>
            
                <div class="box">
                    <img src="/static/Images/biotic_logo.png" class="logo">
                    <p>Learning is a Dynamic process that extends beyond the classroom. So, why restrict yourself to
                        traditional settings? BIOMENTORS is an exclusive online institute for NEET Medical Entrance
                        examination. We are passionate about quality education.
                    </p>
                    <div class="row">
                        <h3>Follow Us On</h3>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-instagram"></i>
                    
                    </div>
                    
                </div>
        
                <div class="box" id="box1">
                    <h3>Quick Links</h3>
                    <a>Home</a>
                    <a>About Us</a>
                    <a>In the NEWS</a>
                    <a>Fees Package</a>
                    <a>Features</a>
                    <a>Careers</a>
                    <a>Contact Us</a>
                </div>
                <div class="box">
                    <h3>Other Links</h3>
                    <a>Help?</a>
                    <a>Our Results</a>
                    <a>Testimonials</a>
                    <a>Privacy Policy</a>
                    <a>Terms & Conditions</a>
                    <a>Disclaimers</a>
                </div>
            </div>

    </section>
<script src="/static/JavaScript/navbar.js"></script>
</body>
