<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Series</title>
    <link rel="stylesheet" href="/static/CSS/navbar.css">
    <link rel="stylesheet" href="/static/CSS/footer.css">
    <link rel="stylesheet" href="/static/CSS/tests.css">
</head>
<body>
    <header id="header1">
        <div class="header_top">
            <div class="contact-info">
                <a href="#" class="fas fa-phone"></a>
                <p>Phone: 8878899556</p>
                <a href="#" class="fas fa-envelope"></a>
                <p>Email: contact@bioticclasses.com</p>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="header_bottom">
            <input type="checkbox" name="" id="toggler">
            <label for="toggler" class="fas fa-bars"></label>
            <div class="left">
                <img src="/static/Images/biotic_logo.png" alt="">
            </div>
            <nav class="navbar">
                <a id="batch-link">Batch Section</a>
                <a href="#">Features</a>
                <a href="#">Results</a>
                <a href="/Templates/feedback.html">Testimonials</a>
                <a  target="_blank" href="/Templates/index.html">About Us</a>
                <a  target="_blank" href="/Templates/contact.html">Contact Us</a>
            </nav>

            <div class="login_button">
                <a href="/Templates/login.html" class="btn-1">LOGIN/SIGNUP</a>
                
            </div>
        </div>

    </header>

   <div class="pricing-table">
    <div class="details">
        <h2>Test Series in Package</h2>
        <p>One Year Ranker Test Series with BAITS [Pen & Paper] for NEET - All Classes.</p>
    </div>
    <div class="grid">
        <div class="box ctp">
            <div class="title">Comprehensive Test Package</div>
            <div class="price">
                <b>Offering: 24 Tests</b>
                <span>Online</span>
            </div>
            <div class="features">
                <div>Tests cover NEET syllabus with experienced faculty.</div>
                <div>Online tests include 11 units, 4 parts, 2 cumulative, 7 full syllabus tests.</div>
                <div>Evaluate self-assessment and analyze test attempts anytime, anywhere.</div>
                <div>Practice CTP to improve speed and accuracy.</div>
            </div>
        </div>
        <div class="box baits">
            <div class="title">BAITS(Pen & Paper)</div>
            <div class="price">
                <b>Offering: 12 Tests</b>
                <span>Offline</span>
            </div>
            <div class="features">
                <div>Assessing preparation levels across the country.</div>
                <div>Tips and tricks for solving numerical and lengthy questions.</div>
                <div>Solutions available 48 hours after test completion.</div>
                <div>Comprehensive BAITS analysis report covering topics and subjects.</div>
            </div>
        </div>
        <div class="box dpt">
            <div class="title">Daily Practice Tests</div>
            <div class="price">
                <b>Offering: 490 Topic Wise Test</b>
                <span>Offline</span>
            </div>
            <div class="features">
                <div>Designed scientifically for practice and performance evaluation.</div>
                <div>Access immediate feedback and analysis.</div>
                <div>Attempt missed tests as per your convenience</div>
            </div>
        </div>
        <div class="box baits-video">
            <div class="title">BAITS Video Solutions</div>
            <div class="price">
                <b>Offered by Expert Faculty</b>
                <span>Online</span>
            </div>
            <div class="features">
                <div>Detailed Explanation and Quick solutions.</div>
                <div>Tips for solving numerical and lengthy questions concisely.</div>
                <div>Quick and easy analysis</div>
                <div>Video solutions stream at lower internet band width</div>
            </div>
        </div>
    </div>
    <div class="bottom-details">
        <p>Please Note: Only BAITS available in Pen & Paper mode, rest all tests in Onine mode only.</p>
        <p>Call on <b>8878899556</b> for selecting Exam Center City.</p>
        <h3>Rs 5000/-</h3>
        <h2>Rs 1299/- only</h2>
    </div>
   </div>


    <section class="footer">
        <div class="box-container">

            <div class="b">

                <div class="floating_container">
                    <div class="floatingbox">
                        <h3>START YOUR NEET COMMANDO TRAINING WITH US</h3>
                        <button>SIGNUP</button>
                    </div>
                </div>

            </div>
        
            <div class="box">
                <img src="/static/Images/biotic_logo.png" class="logo">
                <p>Learning is a Dynamic process that extends beyond the classroom. So, why restrict yourself to
                    traditional settings? BIOMENTORS is an exclusive online institute for NEET Medical Entrance
                    examination. We are passionate about quality education.
                </p>
                <div class="row">
                    <h3>Follow Us On</h3>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>
                
                </div>
                
            </div>
    
            <div class="box" id="box1">
                <h3>Quick Links</h3>
                <a href="/api/biotichomepage">Home</a>
                <a href="/api/aboutuspage">About Us</a>
                <a href="/api/biotichomepage">Features</a>
                <a href="/api/contactuspage">Contact Us</a>
            </div>
            <div class="box">
                <h3>Other Links</h3>

                <a href="/api/testimonialspage">Testimonials</a>
                <a href="/api/showprivacypolicy">Privacy Policy</a>
                <a href="/api/showtermsandconditions">Terms & Conditions</a>
            </div>
        </div>

</section>

</body>
<script src="/static/JavaScript/navbar.js"></script>
</html>